DJI/Mavic_2_Enterprise/SDCard_external/desktop.ini
DJI/Mavic_2_Enterprise/eMMC_Micron_controller/desktop.ini
DJI/Mavic_2_Enterprise/aircraft_logical/desktop.ini
DJI/Mavic_2_Enterprise/eMMC_Micron_aircraft/desktop.ini
DJI/Mavic_2_Enterprise/eMMC_Samsung_aircraft/desktop.ini
